body,
html {
  height: 100%;
}

.create-notes {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/notebook.png");
}

.note-wrapper {
  cursor: pointer;
}

.note-wrapper:hover {
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.menu {
  visibility: hidden;
}

.edit,
.delete {
  cursor: pointer;
  width: 1.2em;
  padding: 0;
}
